<!-- <div id="separate">
  <mat-toolbar class="p-5">
    <div class="text-dark">
      <a  mat-button routerLink="/navigate"><img src="assets/logo_declinazione_uno.svg" width="40%" alt="My Image"/></a>
      <a mat-button routerLink="/add">About</a>
    </div>



      <div>
        <div class="dialog d-flex">
          <button class="p-3 fs-5 log-buttons first-button" mat-raised-button color="primary" (click)="openDialog('3000ms', '1500ms', true)">Login</button>
          <div class="line ms-3 me-3">
          </div>

          <button class="p-3 fs-5 log-buttons" mat-raised-button color="primary" (click)="openDialog('2000ms', '1500ms', false)">Signup</button>
        </div>
      </div>

    <div id="fill">
      <div class="search-container alternative">
        <input type="text" class="search-input text-black" placeholder="Cerca">
      </div>

    </div>


  </mat-toolbar>
</div>
 <app-home></app-home> -->













 col-lg-4 col-xl-3
 col-lg-7 col-xl-7
