h1{
  text-align: center;
  margin-bottom: 50px;
}
.profile{
  display: flex;
  justify-content: center;
  .info{
    margin-right: 50px;
  }
  img {

    border-radius: 50%; /* Use a border-radius of 50% to create a circle */
  }

}



#admin {

  margin-top: 130px;


}

.image{
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;

}












