<div id="admin" class="align-items-center justify-content-center">
  <h1>Welcome to your profile page</h1>

  <div class="profile mt-5" *ngIf="user">
    <div class="me-5">
      <img class="rounded-pill" height="230px" width="230px" [src]="user.avatar" alt="User Image"/>

    </div>
  <div class="info">
    <p class="fs-2">Username: <span class="fs-3 text-black">{{ user.username }}</span> </p>
    <p class="fs-2">Telephone: <span class="fs-3 text-black">{{user.telephone}} </span></p>
    <p class="fs-2">Address: <span class="fs-3 text-black">{{user.address}}</span> </p>
    <p class="fs-2">Email: <span class="fs-3 text-black">{{user.email}}</span> </p>
  </div>


</div>


<div class="full-sport container-fluid mt-5 event-definition">
  <h2 class="text-center">I tuoi Preferiti</h2>
  <div id="sport" class="mb-5 sport-event">
    <div class="row">
      <div *ngFor="let events of favouriteEvents; let i = index" class="col-md-6 col-lg-4">
        <div class="scaleCard m-0 p-0">
          <div class="bg-white p-5 cards">
            <div class="text-white">
              <div *ngIf="events">
                <div *ngIf="events.event && events.event.imageMetadataList">
                  <img  class="mb-3 image img-fluid" [src]="events.event.imageMetadataList[0]?.filePath" alt="Random slide" />
                </div>
              </div>
            </div>
            <div class="tristi justify-content-center ">
              <p class="fs-3 text-center"><strong>{{ events.event?.title }}</strong></p>

              <div class="text-start">
                <p class="fs-5"> <i class="bi bi-geo-alt-fill title-price"> </i> <a class="text-black text-decoration-none" href="https://www.google.com/maps?q={{ events.event?.address }},{{(events.event?.town)}} "
                  target="_blank">{{(events.event?.town)}}
                    </a></p>

                  <p class="text-black fs-5"> <i class="bi icons bi-calendar-date-fill title-price"></i>  {{events.event?.date | date}}</p>
                  <p class="fs-5"> <i class="bi bi-clock icons title-price"></i> {{events.event?.time}} </p>
              </div>
            </div>
            <div class="pb-1 mt-3">
              <div class="d-flex justify-content-between">
                <div class="title-price">
                  <i  class="fs-5 m-1"> <strong>{{ events.event?.price === 'GRATIS' ? 'GRATIS' : events.event?.price | currency:'EUR':true }}</strong>  </i>
                </div>
                <div  class="scopri" *ngIf="events.event?.eventType==='Sport'">
                  <a [routerLink]="['/navbar', 'sports', events.event?.id]" routerLinkActive="active">Scopri di piu</a>
                </div>
                <div  class="scopri" *ngIf="events.event?.eventType==='Food_festival'">
                  <a [routerLink]="['/navbar', 'food', events.event?.id]" routerLinkActive="active">Scopri di piu</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</div>



