<div id="admin">
  <h1>Welcome to your profile page</h1>
  <div class="profile mt-5" *ngIf="user">
  <div class="info">
    <p>Username: {{ user.username }} </p>
    <p>Telephone: {{user.telephone}} </p>
    <p>Address: {{user.address}} </p>
    <p>Email: {{user.email}} </p>
  </div>
  <div>
    <img class=" rounded-pill" height="200px" [src]="user.avatar" alt="User Image"/>

  </div>

</div>


<div class="full-sport mt-5 event-definition">
  <h2>I tuoi Preferiti</h2>
  <div id="sport" class="mb-5 sport-event">
    <div *ngFor="let events of  favouriteEvents; let i = index" id="likes" class="container-fluid">

      <div class="container-fluid ">
        <div class="row">

          <div class="scaleCard m-0 p-0">
            <div class="bg-white p-4 rounded">
              <div id="right" class="text-white">
                <div *ngIf="events">
                  <div *ngIf="events.event && events.event.imageMetadataList">
                    <img width="400px" class="mb-3 image" [src]="events.event.imageMetadataList[0]?.filePath" alt="Random slide" />
                  </div>
                </div>

              </div>
              <div class="tristi">
                <p class="title-price fs-5"><strong>{{ events.event?.title }}</strong></p>
                <div  class="d-flex justify-content-between">
                  <!-- <p class="title-price"><strong>{{ events.type_of_sports }}</strong></p> -->
                </div>
                <div>
                  <p><a class="text-black text-decoration-none" href="https://www.google.com/maps?q={{ events.event?.address }},{{(events.event?.town)}} "
                    target="_blank">{{(events.event?.town)}}
                      <i class="bi bi-pin-map-fill "> </i></a></p>
                  <p> <i class="bi bi-calendar-date-fill"> {{events.event?.date | date}}, {{events.event?.time}}</i> </p>
                </div>
              </div>
              <div class=" pt-3 pb-1 text-white">
                <div class="d-flex justify-content-between">
                  <div class="title-price">
                    <i  class=" bi-currency-euro fs-5 m-1"> <strong>{{ events.event?.price === 'GRATIS' ? 'GRATIS' : events.event?.price | currency:'EUR':true }}</strong>  </i>
                  </div>
                  <div>

                    <div *ngIf="events.event?.eventType==='Sport'">
                      <a class="nav-link" [routerLink]="['/navbar', 'sports', events.id]" routerLinkActive="active"><p class="text-black">Scopri di piu</p></a>
                    </div>
                    <div *ngIf="events.event?.eventType==='Food_festival'">
                      <a class="nav-link" [routerLink]="['/navbar', 'food', events.id]" routerLinkActive="active"><p class="text-black">Scopri di piu</p></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid mt-5">

      </div>
    </div>
  </div>


</div>
</div>



