
/* Define variables for colors */
$primary-color: #c6dd8c; // Primary color
$sport-color: rgba(237, 30, 121, 0.4); // Sport color
$sport-text-color: #ED1E79; // Sport text color
$festival-color: rgba(65, 98, 180, 0.6); // Festival color
$festival-text-color: blue; // Festival text color

 // ***************CHILDREN***************
 $primary-color:#FFF9AE; //Giving a variable;
 $children-color:#f0d27291;
 $children-text-color:#E9D700;

/* Mixin for setting background color */
@mixin background-color($back-color) {
  background-color: $back-color !important;
}

/* Mixin for setting text color */
@mixin text-colors($text-color) {
  color: $text-color;
}

/* Mixin for setting background image */
@mixin background-image($back-image) {
  background-image: url($back-image);
}

/* Mixin for setting title and price color */
@mixin title-price-color($paragraph-color) {
  color: $paragraph-color;
}

// .information::before {
//   content: "";
//   @include background-color($sport-color);
//   width: 20%;
//   height: 100%;
//   position: absolute;
//   top: 0px;
//   left: -30px;


// }


.information{
  padding: 60px;
  padding-top: 0;
  justify-content: center;



}

.color{

  margin-top: 150px !important;


}

.sport {
  h1,
  h2 {
    @include text-colors($sport-text-color); /* Set text color for headings */
  }
  .icons {
    font-size: 2rem;
    margin-right: 20px;
    @include text-colors($sport-text-color); /* Set text color for icons */
  }
  span,
  strong {
    font-size: 2rem;
  }
  h2 {
    text-decoration: underline;
    font-size: 2rem;
  }
  .description p,
  li {
    font-size: 1.3rem;
  }
}

.children {
  h1,
  h2 {
    @include text-colors($children-text-color); /* Set text color for headings */
  }
  .icons {
    font-size: 2rem;
    margin-right: 20px;
    @include text-colors($children-text-color); /* Set text color for icons */
  }
  span,
  strong {
    font-size: 2rem;
  }
  h2 {
    text-decoration: underline;
    font-size: 2rem;
  }
  .description p,
  li {
    font-size: 1.3rem;
  }
}



/* Festival Event Styles */
.food {

  h1,
  h2 {
    @include text-colors($festival-text-color); /* Set text color for headings */
  }
  .icons {
    font-size: 3rem;
    margin-right: 30px;
    @include text-colors($festival-text-color); /* Set text color for icons */
  }
  span,
  strong {
    font-size: 2rem;
  }
  h2 {
    text-decoration: underline;
    font-size: 2rem;
  }
  .description p,
  li {
    font-size: 1.5rem;
  }
}


/* Media query for screens between 200px and 900px */
@media (min-width: 200px) and (max-width: 999px) {
  .information {
    width: 100%;
    justify-content: center;
    padding: 15px;

  }

  .icons{
    font-size: 1.1rem !important;
    margin-right: 10px;

  }


.color{
  margin-top: 20px !important;
}

span{
  font-size: 1.5rem !important;
}

strong{
  font-size: 1.7rem !important;
}

}



