
/* Define variables for colors */
$primary-color: #c6dd8c; // Primary color
$sport-color: rgba(237, 30, 121, 0.4); // Sport color
$sport-text-color: #ED1E79; // Sport text color
$festival-color: rgba(65, 98, 180, 0.6); // Festival color
$festival-text-color: blue; // Festival text color

/* Mixin for setting background color */
@mixin background-color($back-color) {
  background-color: $back-color !important;
}

/* Mixin for setting text color */
@mixin text-colors($text-color) {
  color: $text-color;
}

/* Mixin for setting background image */
@mixin background-image($back-image) {
  background-image: url($back-image);
}

/* Mixin for setting title and price color */
@mixin title-price-color($paragraph-color) {
  color: $paragraph-color;
}



/* Styles for the img element with fade-in and fade-out effect */
.image-fade-in-out {
  position: absolute; /* Add this line to overlap images */
  opacity: 0;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

/* Define the fade-in animation */
.fade-in {
  animation-name: fadeIn;
}

/* Define the fade-out animation */
.fade-out {
  animation-name: fadeOut;
}

/* Keyframes for fade-in animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Keyframes for fade-out animation */
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Media queries for responsiveness */

/* Styles for phones (up to 575.98px) */
@media only screen and (max-width: 575.98px) {
  /* Example phone styles */
  body {
    font-size: 14px;
  }
  /* Add more styles as needed for smaller screens */
}

/* Styles for tablets (576px to 767.98px) */
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  /* Example tablet styles */
  body {
    font-size: 16px;
  }
  /* Add more styles as needed for tablet-sized screens */
}

/* Styles for medium-sized screens (768px to 991.98px) */
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  /* Example medium-sized screen styles */
  body {
    font-size: 18px;
  }
  /* Add more styles as needed for medium-sized screens */
}

/* Styles for large screens (992px to 1199.98px) */
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  /* Example large screen styles */
  body {
    font-size: 20px;
  }
  /* Add more styles as needed for large screens */
}

/* Styles for extra-large screens (1200px and above) */
@media only screen and (min-width: 1200px) {
  /* Example extra-large screen styles */
  body {
    font-size: 22px;
  }
  /* Add more styles as needed for extra-large screens */
}

/* Styles for specific event types */
/* Sport Event Styles */
.sport {
  background-color: $sport-color; /* Use the sport color as background */
  h1,
  h2 {
    @include text-colors($sport-text-color); /* Set text color for headings */
  }
  .icons {
    font-size: 2rem;
    margin-right: 20px;
    @include text-colors($sport-text-color); /* Set text color for icons */
  }
  span,
  strong {
    font-size: 2rem;
  }
  h2 {
    text-decoration: underline;
    font-size: 2rem;
  }
  .description p,
  li {
    font-size: 1.3rem;
  }
}

/* Festival Event Styles */
.food {
  background-color: $festival-color; /* Use the festival color as background */
  h1,
  h2 {
    @include text-colors($festival-text-color); /* Set text color for headings */
  }
  .icons {
    font-size: 3rem;
    margin-right: 30px;
    @include text-colors($festival-text-color); /* Set text color for icons */
  }
  span,
  strong {
    font-size: 2rem;
  }
  h2 {
    text-decoration: underline;
    font-size: 2rem;
  }
  .description p,
  li {
    font-size: 1.5rem;
  }
}
