<div id="fascia_contatti">
  <div id="contatti_info" class="d-flex justify-content-around">
    <div id="info_scoprire">
      <h3>Informazioni Sul Sito</h3>
      <ul>
        <li><a href="/">Privacy</a></li>
        <li><a href="/">Cookie Policy</a></li>
        <li><a href="/">Termini e Condizioni</a></li>
        <li><a href="/">Contatti</a></li>
      </ul>
    </div>
    <div id="info_conoscere">
      <h3>links</h3>
      <ul>
        <li><a href="/">Agenzia Nazionale del Turismo</a></li>
        <li><a href="/">Ministero del Turismo</a></li>
        <li><a href="/">Storie e Cultura Italiana</a></li>
        <li><a href="/">Visit Italy</a></li>
      </ul>
    </div>
    <div id="info_visitare">
      <h3>utenti</h3>
      <ul>
        <li><a href="/">Commenti</a></li>
        <li><a href="/">Feedback</a></li>
        <li><a href="/">Accesso Amministratori</a></li>
      </ul>
    </div>
    <div id="info_strutture" class="mt-5">
      <a mat-button routerLink="/"><img src="assets/logo_declinazione_uno.svg" width="90%" alt="My Image"/></a>
    </div>
  </div>
  <div class="mt-5">
    <a mat-button href="https://www.linkedin.com/in/richard-boat" target="_blank">www.linkedin.com/in/richard-boat</a>
    <a mat-button href="https://github.com/Richard-94" target="_blank">https://github.com/Richard-94</a>
  </div>

</div>
