

<div id="admin" *ngIf="!noEvents" class="full-sport event-definition text-black">
  <h1 class="text-center">eventi trovati</h1>
  <div class="sport mb-5 sport-event text-black">
    <div *ngFor="let events of dataEvents; let i = index" id="likes" class="container-fluid">

      <div class="container-fluid ">
        <div class="row">
          <div class="scaleCard m-0 p-0">
            <div class=" p-4 rounded pb-5 card">
              <div id="right" class="text-white">
                <div *ngIf="events.imageMetadataList">
                  <img class="rounded img-fluid mb-3 image" [src]="events.imageMetadataList[0]?.filePath" alt="Random slide" />
                </div>
              </div>
              <div class="tristi "class="d-flex justify-content-between text-align-center">
                <div>
                  <p class="title-price hot pvscode-file://vscode-app/d:/Microsoft%20VS%20Code/resources/app/out/vs/code/electron-sandbox/workbench/workbench.htmllaylist fs-4">{{ events.title }}</p>
                </div>


              </div>

              <div>
                <p><a class="text-black text-decoration-none" href="https://www.google.com/maps?q={{ events.address }},{{(events.town)}} "
                  target="_blank">{{(events.town)}}
                    <i class="bi bi-pin-map-fill "> </i></a></p>

                <p> <i class="bi bi-calendar-date-fill"> {{events.date | date}}, {{events.time}}</i> </p>
              </div>
              <div class="d-flex justify-content-between mt-4">
                <div class="title-price">
                  <i  class="fs-5 m-1"> <strong>{{ events.price === 'GRATIS' ? 'GRATIS' : events.price | currency:'EUR':true }}</strong>  </i>
                <!-- </div>
                  <a class="nav-link" [routerLink]="['/navbar', events.eventType, events.id]" routerLinkActive="active"><p class="text-black">Scopri di piu</p></a>
              </div> -->
            </div>
        </div>
      </div>
    </div>

    </div>
  </div>

  <!-- <ng-template class="text-black fs-1 mt-5" *ngIf="noEvents">

   {{displayMessage}}
  </ng-template> -->
</div>

