

<div id="admin" *ngIf="!noEvents" class="full-sport event-definition text-black">
  <h1 class="text-center">eventi trovati</h1>
  <div class="sport mb-5 sport-event text-black">
    <div *ngFor="let events of dataEvents; let i = index" id="likes" class="container-fluid">

      <div class="container-fluid ">
        <div class="row">
          <div class="scaleCard m-0 p-0">
            <div class=" p-4 rounded pb-5 card">
              <div id="right" class="text-white">
                <div *ngIf="events.imageMetadataList">
                  <img class="rounded img-fluid mb-3 image" [src]="events.imageMetadataList[0]?.filePath" alt="Random slide" />
                </div>
              </div>
              <div class="tristi justify-content-center ">
                <p class="fs-3 text-center"><strong>{{ events.title }}</strong></p>

                <div class="text-start">
                  <p class="fs-5"> <i class="bi bi-geo-alt-fill title-price"> </i> <a class="text-black text-decoration-none" href="https://www.google.com/maps?q={{ events.address }},{{(events.town)}} "
                    target="_blank">{{(events.town)}}
                      </a></p>

                    <p class="text-black fs-5"> <i class="bi icons bi-calendar-date-fill title-price"></i>  {{events.date | date}}</p>
                    <p class="fs-5"> <i class="bi bi-clock icons title-price"></i> {{events.time}} </p>
                </div>
              </div>
              <div class="d-flex justify-content-between mt-4">
                <div class="title-price">
                  <i  class="fs-5 m-1"> <strong>{{ events.price === 'GRATIS' ? 'GRATIS' : events.price | currency:'EUR':true }}</strong>  </i>
                </div>
                <div class="scopri">
                  <a class="" [routerLink]="['/navbar', events.eventType, events.id]" routerLinkActive="active">Scopri di piu</a>

                </div>
              </div>
            </div>
        </div>
      </div>
    </div>

    </div>
  </div>

  <!-- <ng-template class="text-black fs-1 mt-5" *ngIf="noEvents">

   {{displayMessage}}
  </ng-template> -->
</div>

